.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
}

.board-header h1 {
    font-weight: 700;
    font-size: 61px;
}

.board-input-container {
    display: flex;
    gap: 32px;
}

.board-input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    height: 48px;
    padding: 8px;
    min-width: 237px;
}

.board-input-field:focus-within {
    border: 1px solid #9747FF;
}

.board-input-field button {
    border: none;
    background-color: #FFFFFF;
    width: 48px;
    height: 32px;
}

.board-input-responsive {
    display: none;
    padding-bottom: 24px;
}

.find-task {
    width: 75%;
    height: 32px;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.find-task:focus {
    outline: none;
}

.find-task::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
    padding-left: 12px;
}

.search-msg-pop-up {
    width: 312px;
    height: 74px;
    border-radius: 20px;
    background-color: #2A3647;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: slide-top 0.25s ease-in-out forwards;
    animation: slide-top 0.25s ease-in-out forwards;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(500%);
        transform: translateY(500%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(500%);
        transform: translateY(500%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.search-notification {
    position: absolute;
    left: 175px;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}

.add-task-button, .add-task-button-responsive {
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: 1px solid;
    gap: 12px;
}

.add-task-button-responsive {
    display: none;
    width: 40px;
    height: 40px;
}

.add-task-button:hover {
    background-color: #29ABE2;
    transition: ease-in-out;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.board-h1-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.board-lists {
    display: flex;
    padding-left: 60px;
    gap: 26px;

    overflow: scroll;
    height: calc(100vh - 257px);
}

.list {
    width: 244px;
    padding-bottom: 100px;
    height: inherit;
}

.list-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-head h3 {
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}

.list-head button {
    border-radius: 8px;
    border: 2px solid #2A3647;
    color: #2A3647;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 21px;
    padding-bottom: 2.5px;
}

.list-head button:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
}

.list-no-task {
    background-color: #E7E7E7;
    border: 1px solid #A8A8A8;
    border-style: dashed;
    border-radius: 10px;
    padding: 12px 64px 12px 64px;
}

.list-no-task p {
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.empty-list {
    background-color: #E7E7E7;
    border: 1px solid #A8A8A8;
    border-style: dashed;
    border-radius: 10px;
    padding: 82px 64px 82px 64px;
}

.task-card {
    width: 252px;
    min-width: 252px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
}

.task-card:active {
    transform: rotate(5deg);
}

.category-user-story {
    background-color: #0038FF;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.category-technical-task {
    background-color: #1FD7C1;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.subtasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtasks p {
    font-size: 12px;
}

.progress-border {
    border-radius: 8px;
    background-color: #F4F4F4;
    width: 60%;
    height: 8px;
}

.subtask-progress {
    background-color: #4589FF;
    border: none;
    border-radius: 8px;
    height: 8px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.assigned-task {
    display: flex;
}

.assigned-user-container {
    display: flex;
}

.assigned-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    margin-right: -6px;
    border: 1px solid #FFFFFF;
}

.more-user {
    margin: 6px 6px 6px 12px;
    font-weight: 400;
}

.task-footer button {
    border: none;
    background-color: #FFFFFF;
}

.drag-area-highlight {
    transform: rotate(5deg);
}

/*Responsive exclusive for board.html*/
@media (max-width: 899px) {
    .main-content h1 {
        padding-left: 20px;
    }
}
