.legalNoticeHeader {
    padding: 0px 60px 0px 60px; display: flex; align-items: center; justify-content: space-between;
}

@media (max-width: 720px) {
    .legalNoticeHeader {
        padding: 0px 16px 0px 16px !important;
    }
}